pkgbase = voisu
	pkgdesc = Cloud-first Linux dictation for Wayland (daemon, CLI, and optional Overlay)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/Anuraj-Dev/voisu
	install = voisu.install
	arch = x86_64
	license = MIT
	license = Apache-2.0
	license = ISC
	makedepends = cargo
	makedepends = libxkbcommon
	depends = gtk4
	depends = gtk4-layer-shell
	depends = pipewire
	depends = wl-clipboard
	depends = libsecret
	depends = curl
	depends = xdg-desktop-portal
	optdepends = libei: direct Delivery of the Transcript into the focused window
	optdepends = xdg-desktop-portal-kde: portal backend for KDE Plasma
	optdepends = xdg-desktop-portal-hyprland: portal backend for Hyprland
	options = !lto
	source = voisu-0.1.0.tar.gz::https://github.com/Anuraj-Dev/voisu/archive/refs/tags/v0.1.0.tar.gz
	source = LICENSE.ring
	source = LICENSE.ring-BoringSSL
	source = LICENSE.ring-other-bits
	sha256sums = SKIP
	sha256sums = b3d734001a94efff3579978d953391aa7115f877657d25eb54037a43875d078a
	sha256sums = 005fc765ddc5115da796cca915baa9557abae13ff35e0a47c47affc56f6c414d
	sha256sums = f025ccfb7dfb6bdfedc75ca0f67acc69e6fb4998143d834f7c2f38a29989680f

pkgname = voisu
